<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Unbeatable_Chat>
            <version>0.1.1</version>
        </Unbeatable_Chat>
    </modules>
    <global>
        <blocks>
            <unbeatablechat>
                <class>Unbeatable_Chat_Block</class>
            </unbeatablechat>
        </blocks>
        <helpers>
            <unbeatablechat>
                <class>Unbeatable_Chat_Helper</class>
            </unbeatablechat>
        </helpers>
        <models>
            <unbeatablechat>
                <class>Unbeatable_Chat_Model</class>
            </unbeatablechat>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <Unbeatable_Chat  module="Unbeatable_Chat">
                    <file>unbeatable.xml</file>
                </Unbeatable_Chat>
            </updates>
        </layout>
        <routers>
            <unbeatable>
                <use>standard</use>
                <args>
                    <module>Unbeatable_Chat</module>
                    <frontName>unbeatable</frontName>
                </args>
            </unbeatable>
        </routers>
    </frontend>
</config>
